* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fffaf3;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #f3e5d8;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #5a3e2b;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #5a3e2b;
  font-weight: 500;
}

nav a:hover {
  color: black;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
}

.hero-text {
  max-width: 55%;
}

.hero-text h1 {
  font-size: 50px;
}

.hero-text span {
  color: #5a3e2b;
}

.hero-text h3 {
  margin: 15px 0;
  font-weight: 500;
}

.hero-text p {
  margin-bottom: 25px;
  font-size: 16px;
}

.hero-img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 6px 15px rgba(0,0,0,0.2);
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #5a3e2b;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

.btn:hover {
  background: black;
}

.title {
  text-align: center;
  font-size: 38px;
  margin-bottom: 25px;
  color: #5a3e2b;
}

.about {
  padding: 60px;
  text-align: center;
  background: #f3e5d8;
}

.about p {
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}

.skills {
  padding: 60px;
  text-align: center;
}

.skill-box {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.skill {
  background: white;
  padding: 12px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

.projects {
  padding: 60px;
  background: #f3e5d8;
}

.project-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project {
  background: white;
  padding: 20px;
  width: 280px;
  border-radius: 15px;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.project:hover {
  transform: translateY(-8px);
}

.contact {
  padding: 60px;
  text-align: center;
}

.contact p {
  margin: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #5a3e2b;
  color: white;
}
